@import "abstracts/variables";
@import "abstracts/mixin";


.body.body--disabledScroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1267px;
  padding: 0 20px;
}

.btn {
  @include button;
  @include mobile {
    font-size: 18px;
    line-height: 28px;
  }
  &:hover {
    @include desktop{
      opacity: 0.7;
    }
  }
}

.brightGreen {
  color: $greenBright;
  @include mobileSmall{
    font-size: 30px;
  }
}

.mainOrange {
  color: $orange;
}

.close {
  color: $secondBlack;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section-header {
  font-size: 40px;
  line-height: 50px;
  font-family: $epilog700;
  color: $greenDark;
  @include tablet {
    font-size: 30px;
    line-height: 40px;
  }
  @include mobile {
    font-size: 26px;
    line-height: 32px;
  }
}

.icon-search {
  color: $orange;
}