@import "fonts";

$orange: #fc3f00;
$black: #000000;
$greenDark: #007676;
$greenBright: #9bfaf2;
$white: #fff;
$secondBlack: #646464;
$gray: #e5e5e5;
$mainColor: #00000040;
$f1f1: #f1f1f1;
$red: rgb(243, 133, 133);


$epilogue: "Epilogue";
$epilog500: "EpilogueMedium";
$epilog700: "EpilogueBold";


$tablet: 1090px;
$mobile: 820px;
$mobileSmall: 340px;
$desktop: 1090px;
