$laptop: 1400px;
$laptopSmall: 1122px;
$tablet: 888px;
$tabletMedium: 732px;
$tabletSmall: 673px;
$mobile: 540px;
$mobileSmall: 283px;

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptopSmall {
  @media (max-width: $laptopSmall) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tabletMedium {
  @media (max-width: $tabletMedium) {
    @content;
  }
}

@mixin tabletSmall {
  @media (max-width: $tabletSmall) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobileSmall {
  @media (max-width: $mobileSmall) {
    @content;
  }
}
