$purple: #4c12a1;
$charocal: #213038;
$secondaryCharocal: #213038;
$radius: 24px;
$green: #cae7e6;
$red: #e5006d;
$font: "Open Sans", sans-serif;
$fontPublic: "Public Sans";
$lightGray: #f2f3f4;
$greenGray: #56707a;
$size-18: 1.8rem;
$secondGray: #cdd8df;
